name: build and release

on:
  push:
    tags:
      - 'v*'
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assemble --stacktrace

      - name: Get Release JAR
        id: jar_info
        run: |
          JAR_PATH=$(ls build/libs/gregtech_1.7.10-*.jar | grep -v "dev" | grep -v "sources" | head -n 1)
          echo "path=$JAR_PATH" >> $GITHUB_OUTPUT
          echo "name=$(basename $JAR_PATH)" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ steps.jar_info.outputs.path }}
          name: GregTech 6 Modernized ${{ github.ref_name }}
          generate_release_notes: true
          draft: false
          prerelease: false
